<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Welcome to TinkerHub</title>
  </head>
  <body>
    <div class="container main">
      <div class="row form1 animated animatedFadeInUp fadeInUp">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <div class="col-12">
              <h1>Welcome to TinkerHub</h1>
              <p class="subtext">We are thrilled to know that you want to join the TinkerHub mission. Let's get started.</p>
            </div>
            <div class="col-12 myForm">
            <form action = "validate" method = "POST">
              
              <div class="form-group">
                <label for="OTPVerification">Enter your 6 digit OTP</label>
                <input type="text" class="form-control" name="otp" id="OTPVerification" minlength="6" maxlength="6" required>
                <small id="supportText" class="form-text text-muted">We sent a 6 digit OTP to {{ session["phone_number"] }}</small>
              </div>
              <button onclick="event.target.parentNode.submit();" type="button" class="btn btn-primary btn-block">Verify Mobile Number</button>

            </form>
            </div>
            <div class="col-12">
                <a href="/" class="btn btn-link">Resend OTP → </a>
                <a href="/" class="btn btn-link">Edit mobile number → </a>
            </div>
          </div>
          <div class="col-sm-4"></div>
    </div>
    </div>
  </body>
</html>