<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <title>Welcome to TinkerHub</title>
  </head>
  <body>
    <div class="container main">
      <div class="row form1 animated animatedFadeInUp fadeInUp">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
       
          <div class="col-12 myForm">
            <div class="col-12">
                <h1>Thanks for applying.</h1>
                <h5>We will review your application and share our community discord link in next 24 hours. We can't wait to onboard you!</h5>
                <p class="subtext">
                  Here is your membership id. We use this id for identity verification. If you need any kind of assistance, please mail us at
                  <a href="mailto:hello@tinkerhub.org?subject=Application%20Support">hello@tinkerhub.org</a>
                </p>
              </div>
              <hr />
              <div class="col align-self-center membership-id">
                  <p>YOUR MEMBERSHIP ID</p>
                  <h3 class="membership-id" id="memberid">{{ session["MembershipId"] }}</h3>
              </div>
              <!-- The button used to copy the text -->
              <button onclick="copyToClipboard('memberid')" class="btn btn-primary btn-block" id="copyBtn">
                Copy text
              </button>

              <div id="suc-msg" style="display: none; text-align: center; padding-top: 10px; color: green">Your membership id is copied to your clipboard.</div>

          </div>

        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>


<canvas id="confetti"></canvas>


    <script src="{{ url_for('static',filename='js/confetti.js') }}"></script>
    <script>
 

    function copyToClipboard(elementId) {

    // Create an auxiliary hidden input
    var aux = document.createElement("input");

    // Get the text from the element passed into the input
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);

    // Append the aux input to the body
    document.body.appendChild(aux);

    // Highlight the content
    aux.select();

    // Execute the copy command
    document.execCommand("copy");

    // Remove the input from the body
    document.body.removeChild(aux);

    var msg = document.getElementById("suc-msg");
    var copybtn = document.getElementById("copyBtn");
    if (msg.style.display === "none") {
        msg.style.display = "block";
        copybtn.style.display = "none";
    } else {
        msg.style.display ="block";
    };


    }
    </script>

  </body>
</html>
