<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <title>Welcome to TinkerHub</title>
  </head>
  <body>
    <div class="container main">
      <div class="row form1 animated animatedFadeInUp fadeInUp">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="col-12">
            <p class="subtext">Fill out the form to complete the registration</p>
          </div>
          <div class="col-12 myForm">
            <form action = "details" method = "POST">
              <div class="form-group">
                <label for="MobileNumber">Mobile Number</label>
                <input disabled
                  type="text"
                  class="form-control"
                  id="MobileNumber"
                  name="MobileNumber"
                  maxlength="10"
                  value="{{ session['phone_number'] }}"
                />
                <small id="supportText" class="form-text text-muted"
                  >Please enter your 10 digit mobile number</small
                >
              </div>

              <div class="form-group">
                <label for="FullName">My legal name is</label>
                <input type="text" class="form-control" id="FullName" name="FullName"/>
                <small id="supportText" class="form-text text-muted">eg: Aaron Hillel Swartz</small>
              </div>

              <div class="form-group">
                <label for="NickName">Please call me</label>
                <input type="text" class="form-control" id="NickName" name="NickName" />
                <small id="supportText" class="form-text text-muted"
                  >Use your first name or a nickname. eg: aaron, psbots,
                  meharmp</small
                >
              </div>

              <div class="form-group">
                <label for="DOB">I was born on </label>
                <input type="date" class="form-control" id="DOB" name="DOB"/>
              </div>

              <div class="form-group">
                <label for="Email">My email address is</label>
                <input type="email" class="form-control" id="Email" name="Email"/>
              </div>

              <div class="form-group">
                <label for="Pronoun">I prefer to use the pronoun</label>
                <select name="Pronoun" class="form-control" id="Pronoun">
                  <option value="He/Him">He/Him</option>
                  <option value="She/Her">She/Her</option>
                  <option value="They/Them">They/Them</option>
                </select>
              </div>

              <div class="form-group">
                <label for="RegistrationType"
                  >I want to be part of TinkerHub Foundation and the best way to
                  describe me is
                </label>
                <select name="RegistrationType" class="form-control" id="RegistrationType">
                  <option value="A college / school student 👨‍🎓️">A college / school student 👨‍🎓️</option>
                  <option value="A recent graduate">A recent graduate</option>
                  <option value="A professional/freelancer/startup founder 💼">A professional/freelancer/startup founder 💼</option>
                </select>
              </div>

              <div class="form-group" id="community-1">
                <label for="CampusCommunityActive">TinkerHub Campus Community is </label>
                <select name="CampusCommunityActive" class="form-control" id="CampusCommunityActive">
                  <option value="Yes">Yes, there is an active community</option>
                  <option value="No">Nope, I never heard about TinkerHub community in my college</option>
                </select>
                <small id="supportText" class="form-text text-muted">If you are unsure, here is the list of active :
                  <a href="http://airtable.com/shryTztrd8m0lCzqn/tbl4Orty5RXql5dKD">TinkerHub Campus communities</a>
                </small>
              </div>

              <div class="form-group" id="active-campus">
                <label for="College">I currently study at</label>
                <input type="text" class="form-control" id="College" name="College"/>
              </div>

              <div class="form-group" id="fresh-campus">
                <label for="FreshCollege">I study at</label>
                <input type="text" class="form-control" id="FreshCollege" name="FreshCollege"/>
                <small id="supportText" class="form-text text-muted">Preferred format: College Name, Place, District</small>
              </div>

              <div class="form-group" id="stream">
                <label for="StudyStream">My stream of study is </label>
                <select name="StudyStream" class="form-control" id="StudyStream">
                  <option value="BTech">BTech</option>
                  <option value="Polytechnic">Polytechnic</option>
                  <option value="Bachelor of Science">
                    Bachelor of Science
                  </option>
                  <option value="High School / Higher Secondary">
                    High School / Higher Secondary
                  </option>
                  <option value="Bachelor of Arts">Bachelor of Arts</option>
                  <option value="Post Graduation Programs">
                    Post Graduation Programs
                  </option>
                </select>
              </div>

              <div class="form-group" id="year">
                <label for="GraduationDate">As of now, I'll be graduating on</label>
                <select name="GraduationDate" class="form-control" id="GraduationDate">
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                </select>
                <small id="supportText" class="form-text text-muted">Specify the year.</small>
              </div>

              <div class="form-group">
                <label for="Reason">I want to join Tinkerhub because..</label>
                <textarea
                  name="Reason"
                  rows="10"
                  cols="30"
                  class="form-text text-muted"
                ></textarea>
                <small id="supportText" class="form-text text-muted"
                  >This answer will help us to understand you better and handle
                  your application accordingly.
                </small>
              </div>

              <div class="form-group">
                <label for="AreasOfInterest">And here are a few areas I would ❤️ to be part of : 
                </label>
                <select multiple type="checkbox"  name="AreasOfInterest" class="form-control" id="AreasOfInterest">
                  <option value="OpenSource Project Contribution">OpenSource Project Contribution</option>
                  <option value="Mentor new devs">Mentor new devs</option>
                  <option value="Community Reach-out">Community Reach-out</option>
                  <option value="Fund Raising">Fund Raising</option>
                  <option value="Hunting opportunities for the community">Hunting opportunities for the community</option>
                  <option value="Hosting events on-behalf of TH">Hosting events on-behalf of TH</option>
                </select>
              </div>

              <div class="form-group">
                <label for="policy">Community policy</label>
                <small id="supportText" class="form-text text-muted">
                  To ensure that everything is in order, we ask that you accept
                  our community policy & guideline before we moving forward.
                  <a
                    href="//www.notion.so/TinkerHub-Community-Policy-1-0-39eac3b2b25e43f58efb2243b647234c"
                  >
                    TinkerHub-Community-Policy</a
                  >

                  Please click below if you find our policy acceptable. If you
                  want to talk, we are available at hello@tinkerhub.org
                </small>
                <br /><input type="checkbox" id="accept" />
                <label for="accept"> I Accept</label><br />
              </div>
              <button href="#" onclick="event.target.parentNode.submit();" type="button" class="btn btn-primary btn-block" name="apply">Apply Now</a>
            </form>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        toggleFields();
        campusfield(); // call this first so we start out with the correct visibility depending on the selected form values
        // this will call our toggleFields function every time the selection value of our other field changes
        $("#RegistrationType").change(function () {
          toggleFields();
        });

        $("#CampusCommunityActive").change(function () {
          campusfield();
        });
      });
      // this toggles the visibility of other server
      function toggleFields() {
        if ($("#RegistrationType").val() === "A college / school student 👨‍🎓️") {
          $("#community-1").show();
          $("#stream").show();
          $("#year").show();
          $("#active-campus").show();
        } else {
          $("#community-1").hide();
          $("#stream").hide();
          $("#year").hide();
          $("#active-campus").hide();
          $("#fresh-campus").hide();
        }
      }

      function campusfield() {
        if ($("#CampusCommunityActive").val() === "Yes") {
          $("#active-campus").show();
          $("#fresh-campus").hide();
        } else {
          $("#active-campus").hide();
          $("#fresh-campus").show();
        }
      }
    </script>
  </body>
</html>
